.galaxy-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galaxy-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

